.App {
  text-align: center;
  border: 1px solid rgb(241, 214, 214);
  border-radius: 50px;
  margin: 20px auto;
  padding: 20px;
  max-width: 30%;
  color: black;
  background-color: rgb(249, 236, 219);
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 48px;
  color: rgb(71, 69, 69);
}
.form {
  border-radius: 30px;
  padding: 10px;
  border-color: wheat;
}
#search-button {
  margin-left: 10px;
  background: black;
  color: white;
}
